.card {
    width: 173px;
    height: 130px; 
    max-width: 173px;
    max-height: 130px;
    background-image: url("../../public/assets/hud/empty-card.png");
    margin-right: 5px;
    border-width: 0;
    /* border-color: #0A1428; */
    color: #F0E6D2;
    background-color: transparent;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 0px;
}

.champion-image {
    /* background-image: url("../../public/assets/tft-champion/TFT10_Amumu.TFT_Set10.png"); */
    background-size: cover;
    width: 173px;
    max-width: 173px;
    height: 100px;
    max-height: 100px; 
}

.border {
    /* background-image: url("../../public/assets/hud/4-cost-border.png"); */
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    position:absolute;
    width: 173px;
    max-width: 173px;
    height: 130px;
    max-height: 130px;
    top: 3%;
    /* right: 10px; */
    
}


.border:hover {
    background-image: url("../../public/assets/hud/4-cost-hover.png");
}

