.card {
    width: 173px;
    height: 130px; 
    max-width: 173px;
    max-height: 130px;
    background-image: url("../../public/assets/hud/empty-card.png");
    margin-right: 5px;
    border-width: 0;
    /* border-color: #0A1428; */
    color: #F0E6D2;
    background-color: transparent;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 0px;
    padding-top: 0px;
}

.champion-image {
    /* background-image: url("../../public/assets/tft-champion/TFT10_Ezreal.TFT_Set10.png"); */
    background-image: url("../../public/assets/tft-champion/TFT10_Illaoi.TFT_Set10.png");
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 173px;
    max-width: 173px;
    height: 70px;
    max-height: 70px; 
    padding-top: 30px;
    position: absolute;
    bottom: 23%;
}

.champion-name {
    color: #F0E6D2;
    font-size: 16px;
    top: 76%;
    padding-left: 10px;
    font-family: 'Beaufort-Bold', sans-serif;
    position: absolute;
}

.champion-cost {
    color: #F0E6D2;
    font-size: 16px;
    font-family: 'Beaufort-Bold', sans-serif;
    top: 76%;
    padding-left: 150px;
    position: absolute;
    background-image: url("../../public/assets/hud/gold.png");
    background-size: 13px 11px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 65%;

}

.champion-gold {
    background-image: url('../../public/assets/hud/gold.png');

    position: absolute;
}

.trait-one {
    background-image: url('../../public/assets/tft-trait/Trait_Icon_10_8Bit.TFT_Set10.png');
    background-size: 16px 16px;
    background-position-x: 12px;
    background-repeat: no-repeat;
    font-family: 'Spiegel-Regular', sans-serif;
    position: absolute;
    padding-left: 30px;
    top: 60%;
    font-size: 12px;

}

.trait-two {
    background-image: url('../../public/assets/tft-trait/Trait_Icon_10_8Bit.TFT_Set10.png');
    background-size: 16px 16px;
    background-position-x: 12px;
    background-repeat: no-repeat;
    font-family: 'Spiegel-Regular', sans-serif;
    position: absolute;
    top: 45%;
    padding-left: 30px;
    font-size: 12px;

}

.trait-three {
    background-image: url('../../public/assets/tft-trait/Trait_Icon_10_8Bit.TFT_Set10.png');
    background-size: 16px 16px;
    background-position-x: 12px;
    background-repeat: no-repeat;
    font-family: 'Spiegel-Regular', sans-serif;

    position: absolute;
    top: 30%;
    padding-left: 30px;
    font-size: 12px;

}

.border {
    background-image: url("../../public/assets/hud/5-cost-border.png");
    background-size: cover;
    background-position: center;
    transition: background-image 0.2s ease;
    position:absolute;
    width: 173px;
    max-width: 173px;
    height: 130px;
    max-height: 130px;
    top: 3%;




    /*ignore this
    /* right: 10px; */
    
}


.border:hover {
    background-image: url("../../public/assets/hud/5-cost-hover.png");
}

