.champion-card {
    width: 173px;
    height: 130px;
    background-image: url("../../public/assets/hud/empty-card.png");
    background-size: cover;
    margin-right: 5px;
    border-color: #0A1428;
    color: #F0E6D2;
    

  }