@font-face {
  font-family: 'Beaufort-Bold';
  src: url("../public/assets/fonts/BeaufortforLOL-Bold.ttf") format('truetype'); 
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Medium';
  src: url("../public/assets/fonts/BeaufortforLOL-Medium.ttf") format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Bold';
  src: url("../public/assets/fonts/Spiegel_TT_Bold.ttf") format('truetype'); 
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel-Regular';
  src: url("../public/assets/fonts/Spiegel_TT_Regular.ttf") format('truetype'); 
  font-weight: normal;
  font-style: normal;
}


.arena {
  margin: 0;
  padding: 0;
  background: url("../public/assets/arena/ionia-arena.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.title-banner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Adjust the value as needed */
  background: url("../public/assets/hud/title-banner.png") no-repeat center center; /* Set the background image */
  background-size: contain; /* Adjust the background size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30%;
  transition: opacity 2s ease; /* Add transition for opacity */

}

.title-text {
  font-family: 'Beaufort-Bold', sans-serif;
  padding-top: 1%;
  color: #F0E6D2; /* Set the text color */
  font-size: 48px; /* Set the font size */
  text-align: center;
  user-select: none;

  /* Add any additional styling for the text as needed */
}

.play-button {
  font-family: 'Spiegel-Bold', sans-serif;
  display: block;
  margin: 20px auto; /* Adjust the margin as needed */
  padding: 10px 20px; /* Adjust the padding as needed */
  background-color: #32281e;
  font-size: 16px;
  color: #F0E6D2;
  border-color: #0A1428;
  border-width: 4px;
  position: absolute;
  outline: 4px solid #C8AA6E;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  transition: opacity 2s ease; /* Add transition for opacity */
  
}

.shop {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../public/assets/hud/shop.png"); 
  background-size: cover;
  border-width: 3px;
  border-color: #8e7040;
  border-style:solid; 
  width: 70%;
  height: 13%;
  padding: 20px;
  transition: opacity 2s ease; /* Add transition for opacity */

}

.refresh {
  background-image: url("../public/assets/hud/refresh.png");
  background-color: #0A1428;
  background-size: cover;
  width: 180px;
  height: 65px;
  border-width: 0;
  position: absolute;
  left: 0.75%;
  top: 50%;
  transition: background-image 0.2s ease;

}

.refresh:hover {
  background-image: url("../public/assets/hud/refresh-hover.png"); 
}

.refresh:active {
  background-image: url("../public/assets/hud/refresh-pressed.png");
}

.refresh-text {
  font-family: 'Beaufort-Bold', sans-serif;
  color: #F0E6D2;
  position: absolute;
  font-size: 18px;
  left: 10%;
  bottom: 20%
 
}

.level {
  background-image: url("../public/assets/hud/level.png"); 
  background-color: #0A1428;
  background-size: cover;
  width: 180px;
  height: 65px;
  border-width: 0;
  top: 5%;
  left: 0.75%;
  position: absolute;
  transition: background-image 0.2s ease;
  
}

.level:hover {
  background-image: url("../public/assets/hud/level-hover.png");
}

.level:active {
  background-image: url("../public/assets/hud/level-pressed.png");
}

.button-title {
  font-family: 'Beaufort-Bold', sans-serif;
  color: #F0E6D2;
  position: absolute;
  font-size: 18px;
  left: 10%;
  bottom: 20%

  
}

.gold {
  background-image: url("../public/assets/hud/gold.png");
  background-size: cover;
  width: 13px;
  height: 11px;
  position: absolute;
  top: 40%;
  left: 35%;
}

.player-level {
  background-image: url("../public/assets/hud/player-level.png");
  background-size: cover;
  width: 245px;
  height: 54px;
  position: absolute;
  top: 75%;
  left: 13.4%
}

.player-level-text {
  font-family: 'Beaufort-Bold', sans-serif;
  font-size: 24px;
  color: #F0E6D2;
  position: absolute;
  left: 10%;
  bottom: -20%;
  user-select: none;

}

.chances {
  background-image: url("../public/assets/hud/chances.png");
  background-size: cover;
  width: 300px;
  height: 30px;
  position: absolute;
  top: 77.5%;
  left: 26%;
  opacity: 75%;

}

.chances-text {
  color: #F0E6D2;
  position: absolute;
  top: -25%;
  left: 50%
}

.player-progress-text {
  font-family: 'Beaufort-Bold', sans-serif;
  position: absolute;
  color: #F0E6D2;
  left: 60%;
  top: 7.5%;
  font-size: 14px;
  user-select: none;

}

.money {
 position: absolute;
 background: url("../public/assets/hud/money.png");
 background-size: cover;
 width: 150px;
 height: 40px;
 top: 76.5%;
 left: 46%;

}

.money-text {
  font-family: 'Beaufort-Bold', sans-serif; 
  position:absolute;
  color: #F0E6D2;
  left: 50%;
  top: -15%;
  user-select: none;
}

.gold-icon {
  background-image: url("../public/assets/hud/gold.png");
  background-size: cover;
  width: 13px;
  height: 11px;
  position: absolute;
  top: 58%;
  left: 10%; 
}

.button-subtext {
  font-family: 'Beaufort-Bold', sans-serif; 
  user-select: none;
  color: #F0E6D2;
  font-size: 16px;
  position: absolute;
  left: 20%;
  top: 25%;

}


.hide {
  opacity: 0;
}

